
{% if mode == 'Miles'  %}

    <div class="h-25 bg-black text-white border border-danger my-4 p-2">
        <h2 class="p-2">Miles Morales</h2>
        <div id="carouselMIles" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_Miles/Miles_01.jpg') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miles/Miles_02.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miles/Miles_03.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miles/Miles_04.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miles/Miles_05.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miles/Miles_06.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miles/Miles_07.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miles/Miles_08.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miles/Miles_09.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miles/Miles_10.jpg') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselMiles" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselMiles" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

{% elseif mode == 'Gwen'  %}

    <div class="h-25 bg-white text-black border border-black my-4 p-2">
        <h2 class="p-2">Gwen Stacy</h2>
        <div id="carouselGwen" class="carousel slide border border-black" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_Gwen/Gwen_01.jpg') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Gwen/Gwen_02.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Gwen/Gwen_03.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Gwen/Gwen_04.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Gwen/Gwen_05.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Gwen/Gwen_06.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Gwen/Gwen_07.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Gwen/Gwen_09.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Gwen/Gwen_10.jpg') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselGwen" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselGwen" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

{% elseif mode == 'Spider-man'  %}  

    <div class="h-25 bg-danger text-white border border-black my-4 p-2">
        <h2 class="p-2">Peter B. Parker</h2>
        <div id="carouselPeter" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_Peter/Peter_01.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item ">
                    <img src="{{ asset('asset/images/Gallery_Peter/Peter_02.jpg') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item ">
                    <img src="{{ asset('asset/images/Gallery_Peter/Peter_03.jpg') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item ">
                    <img src="{{ asset('asset/images/Gallery_Peter/Peter_04.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item ">
                    <img src="{{ asset('asset/images/Gallery_Peter/Peter_05.jpg') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item ">
                    <img src="{{ asset('asset/images/Gallery_Peter/Peter_06.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item ">
                    <img src="{{ asset('asset/images/Gallery_Peter/Peter_07.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item ">
                    <img src="{{ asset('asset/images/Gallery_Peter/Peter_08.webp') }}" class="d-block w-100" alt="...">
                </div> 
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPeter" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPeter" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

{% elseif mode == 'Peter'  %}  

    <div class="h-25 bg-black text-white border border-black my-4 p-2">
        <h2 class="p-2">Peter B. Parker</h2>
        <div id="carouselNoir" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_SpiderNoir/Noir_01.jpg') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderNoir/Noir_02.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderNoir/Noir_03.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderNoir/Noir_04.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderNoir/Noir_05.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderNoir/Noir_06.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderNoir/Noir_07.webp') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselNoir" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselNoir" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

{% elseif mode == 'Porker'  %}  

    <div class="h-25 bg-danger text-white border border-black my-4 p-2">
        <h2 class="p-2">Peter Porker</h2>
        <div id="carouselPorker" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_SpiderHam/Ham_01.jpg') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderHam/Ham_02.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderHam/Ham_03.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderHam/Ham_04.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderHam/Ham_05.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderHam/Ham_06.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderHam/Ham_07.png') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPorker" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPorker" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

{% elseif mode == 'Peni'  %}  

    <div class="h-25 bg-black text-white border border-black my-4 p-2">
        <h2 class="p-2 bg-info">Peni Parker</h2>
        <div id="carouselPeni" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_Peni/Peni_01.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Peni/Peni_02.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Peni/Peni_03.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Peni/Peni_04.png') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Peni/Peni_05.png') }}" class="d-block w-100" alt="...">
                </div>n
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Peni/Peni_06.jpeg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Peni/Peni_07.webp') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPeni" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPeni" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

{% elseif mode == 'Miguel'  %}  

    <div class="h-25 bg-black text-white border border-black my-4 p-2">
        <h2 class="p-2">Miguel O'Hara</h2>
        <div id="carouselMiguel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_Miguel/Miguel_01.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miguel/Miguel_02.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miguel/Miguel_03.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miguel/Miguel_04.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miguel/Miguel_05.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miguel/Miguel_06.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miguel/Miguel_07.webp') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselMiguel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselMiguel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

{% elseif mode == 'Hobie'  %} 

    <div class="h-25 bg-black text-white my-4 p-2">
        <h2 class="p-2 bg-danger">Hobie Brown</h2>
        <div id="carouselHobie" class="carousel slide border border-3 border-warning" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_Hobie/Hobie_01.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Hobie/Hobie_02.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Hobie/Hobie_03.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Hobie/Hobie_04.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Hobie/Hobie_05.png') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Hobie/Hobie_06.webp') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselHobie" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselHobie" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

{% elseif mode == 'Pavitr'  %} 

    <div class="h-25 bg-info text-white border border-black my-4 p-2">
        <h2 class="p-2">Pavitr Prabhakar</h2>
        <div id="carouselPavitr" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_Pavitr/Pavitr_01.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Pavitr/Pavitr_02.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Pavitr/Pavitr_03.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Pavitr/Pavitr_04.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Pavitr/Pavitr_05.jpeg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Pavitr/Pavitr_06.png') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Pavitr/Pavitr_07.jpg') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPavitr" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPavitr" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

{% elseif mode == 'Ben'  %}  

    <div class="h-25 bg-danger text-white border border-black my-4 p-2">
        <h2 class="p-2 bg-info">Ben Riley</h2>
        <div id="carouselScarlet" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_ScarletSpider/Ben_01.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_ScarletSpider/Ben_02.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_ScarletSpider/Ben_03.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_ScarletSpider/Ben_04.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_ScarletSpider/Ben_05.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_ScarletSpider/Ben_06.webp') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselScarlet" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselScarlet" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

{% elseif mode == 'Jessica'  %} 

    <div class="h-25 bg-black text-white border border-2 border-warning my-4 p-2">
        <h2 class="p-2 bg-danger">Jessica Drew</h2>
        <div id="carouselJess" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_SpiderWoman/Jess_01.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderWoman/Jess_02.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderWoman/Jess_03.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderWoman/Jess_04.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderWoman/Jess_05.webp') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselJess" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselJess" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

{% elseif mode == 'Margo'  %}  

    <div class="h-25 bg-info text-white border border-black my-4 p-2">
        <h2 class="p-2 bg-black">Margo Kess</h2>
        <div id="carouselMargo" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_SpiderByte/Margo_01.jpg') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderByte/Margo_02.webp') }}" class="d-block w-100" alt="...">
                </div>
                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselMargo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselMargo" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

{% elseif mode == 'Rio'  %}  

    <div class="h-25 bg-danger text-white border border-black my-4 p-2">
        <h2 class="p-2">Rio Morales</h2>
        <div id="carouselRio" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_Rio/Rio_01.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Rio/Rio_02.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Rio/Rio_03.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Rio/Rio_04.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Rio/Rio_05.jpeg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Rio/Rio_06.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Rio/Rio_07.webp') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselRio" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselRio" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

{% elseif mode == 'Jeff'  %}  

    <div class="h-25 bg-black text-white border border-black my-4 p-2">
        <h2 class="p-2">Jefferson Davis</h2>
        <div id="carouselJeff" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_Jeff/Jeff_01.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Jeff/Jeff_02.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Jeff/Jeff_03.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Jeff/Jeff_04.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Jeff/Jeff_05.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Jeff/Jeff_06.webp') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselJeff" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselJeff" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

{% elseif mode == 'Spot'  %}  

    <div class="h-25 bg-black text-black border border-black my-4 p-2">
        <h2 class="p-2 bg-white">The Spot</h2>
        <div id="carouselSpot" class="carousel slide border border-white" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_Spot/Spot_01.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Spot/Spot_02.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Spot/Spot_03.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Spot/Spot_04.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Spot/Spot_05.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Spot/Spot_06.jpg') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselSpot" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselSpot" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

{% elseif mode == 'All' %}

    <div class="h-25 bg-black text-white border border-danger my-4 p-2">
        <h2 class="p-2">Miles Morales</h2>
        <div id="carouselMIles" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_Miles/Miles_01.jpg') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miles/Miles_02.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miles/Miles_03.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miles/Miles_04.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miles/Miles_05.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miles/Miles_06.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miles/Miles_07.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miles/Miles_08.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miles/Miles_09.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miles/Miles_10.jpg') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselMiles" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselMiles" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="h-25 bg-white text-black border border-black my-4 p-2">
        <h2 class="p-2">Gwen Stacy</h2>
        <div id="carouselGwen" class="carousel slide border border-black" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_Gwen/Gwen_01.jpg') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Gwen/Gwen_02.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Gwen/Gwen_03.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Gwen/Gwen_04.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Gwen/Gwen_05.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Gwen/Gwen_06.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Gwen/Gwen_07.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Gwen/Gwen_09.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Gwen/Gwen_10.jpg') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselGwen" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselGwen" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    
    <div class="h-25 bg-danger text-white border border-black my-4 p-2">
        <h2 class="p-2">Peter B. Parker</h2>
        <div id="carouselPeter" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_Peter/Peter_01.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item ">
                    <img src="{{ asset('asset/images/Gallery_Peter/Peter_02.jpg') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item ">
                    <img src="{{ asset('asset/images/Gallery_Peter/Peter_03.jpg') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item ">
                    <img src="{{ asset('asset/images/Gallery_Peter/Peter_04.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item ">
                    <img src="{{ asset('asset/images/Gallery_Peter/Peter_05.jpg') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item ">
                    <img src="{{ asset('asset/images/Gallery_Peter/Peter_06.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item ">
                    <img src="{{ asset('asset/images/Gallery_Peter/Peter_07.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item ">
                    <img src="{{ asset('asset/images/Gallery_Peter/Peter_08.webp') }}" class="d-block w-100" alt="...">
                </div> 
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPeter" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPeter" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="h-25 bg-black text-white border border-black my-4 p-2">
        <h2 class="p-2">Peter B. Parker</h2>
        <div id="carouselNoir" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_SpiderNoir/Noir_01.jpg') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderNoir/Noir_02.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderNoir/Noir_03.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderNoir/Noir_04.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderNoir/Noir_05.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderNoir/Noir_06.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderNoir/Noir_07.webp') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselNoir" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselNoir" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="h-25 bg-danger text-white border border-black my-4 p-2">
        <h2 class="p-2">Peter Porker</h2>
        <div id="carouselPorker" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_SpiderHam/Ham_01.jpg') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderHam/Ham_02.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderHam/Ham_03.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderHam/Ham_04.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderHam/Ham_05.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderHam/Ham_06.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderHam/Ham_07.png') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPorker" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPorker" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="h-25 bg-black text-white border border-black my-4 p-2">
        <h2 class="p-2 bg-info">Peni Parker</h2>
        <div id="carouselPeni" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_Peni/Peni_01.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Peni/Peni_02.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Peni/Peni_03.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Peni/Peni_04.png') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Peni/Peni_05.png') }}" class="d-block w-100" alt="...">
                </div>n
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Peni/Peni_06.jpeg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Peni/Peni_07.webp') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPeni" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPeni" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div> 

    <div class="h-25 bg-black text-white border border-black my-4 p-2">
        <h2 class="p-2">Miguel O'Hara</h2>
        <div id="carouselMiguel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_Miguel/Miguel_01.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miguel/Miguel_02.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miguel/Miguel_03.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miguel/Miguel_04.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miguel/Miguel_05.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miguel/Miguel_06.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Miguel/Miguel_07.webp') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselMiguel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselMiguel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="h-25 bg-black text-white my-4 p-2">
        <h2 class="p-2 bg-danger">Hobie Brown</h2>
        <div id="carouselHobie" class="carousel slide border border-3 border-warning" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_Hobie/Hobie_01.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Hobie/Hobie_02.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Hobie/Hobie_03.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Hobie/Hobie_04.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Hobie/Hobie_05.png') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Hobie/Hobie_06.webp') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselHobie" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselHobie" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="h-25 bg-info text-white border border-black my-4 p-2">
        <h2 class="p-2">Pavitr Prabhakar</h2>
        <div id="carouselPavitr" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_Pavitr/Pavitr_01.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Pavitr/Pavitr_02.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Pavitr/Pavitr_03.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Pavitr/Pavitr_04.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Pavitr/Pavitr_05.jpeg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Pavitr/Pavitr_06.png') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Pavitr/Pavitr_07.jpg') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPavitr" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPavitr" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="h-25 bg-danger text-white border border-black my-4 p-2">
        <h2 class="p-2 bg-info">Ben Riley</h2>
        <div id="carouselScarlet" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_ScarletSpider/Ben_01.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_ScarletSpider/Ben_02.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_ScarletSpider/Ben_03.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_ScarletSpider/Ben_04.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_ScarletSpider/Ben_05.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_ScarletSpider/Ben_06.webp') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselScarlet" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselScarlet" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="h-25 bg-black text-white border border-2 border-warning my-4 p-2">
        <h2 class="p-2 bg-danger">Jessica Drew</h2>
        <div id="carouselJess" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_SpiderWoman/Jess_01.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderWoman/Jess_02.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderWoman/Jess_03.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderWoman/Jess_04.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderWoman/Jess_05.webp') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselJess" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselJess" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div> 

    <div class="h-25 bg-info text-white border border-black my-4 p-2">
        <h2 class="p-2 bg-black">Margo Kess</h2>
        <div id="carouselMargo" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_SpiderByte/Margo_01.jpg') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_SpiderByte/Margo_02.webp') }}" class="d-block w-100" alt="...">
                </div>
                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselMargo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselMargo" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="h-25 bg-black text-white border border-black my-4 p-2">
        <h2 class="p-2">Jefferson Davis</h2>
        <div id="carouselJeff" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_Jeff/Jeff_01.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Jeff/Jeff_02.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Jeff/Jeff_03.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Jeff/Jeff_04.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Jeff/Jeff_05.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Jeff/Jeff_06.webp') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselJeff" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselJeff" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="h-25 bg-danger text-white border border-black my-4 p-2">
        <h2 class="p-2">Rio Morales</h2>
        <div id="carouselRio" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{{ asset('asset/images/Gallery_Rio/Rio_01.webp') }}" class="d-block w-100" alt="...">
                </div> 
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Rio/Rio_02.jpg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Rio/Rio_03.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Rio/Rio_04.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Rio/Rio_05.jpeg') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Rio/Rio_06.webp') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('asset/images/Gallery_Rio/Rio_07.webp') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselRio" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselRio" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="h-25 bg-black text-black border border-black my-4 p-2">
            <h2 class="p-2 bg-white">The Spot</h2>
            <div id="carouselSpot" class="carousel slide border border-white" data-bs-ride="carousel">
                <div class="carousel-inner ">
                    <div class="carousel-item active">
                        <img src="{{ asset('asset/images/Gallery_Spot/Spot_01.webp') }}" class="d-block w-100" alt="...">
                    </div> 
                    <div class="carousel-item">
                        <img src="{{ asset('asset/images/Gallery_Spot/Spot_02.jpg') }}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('asset/images/Gallery_Spot/Spot_03.webp') }}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('asset/images/Gallery_Spot/Spot_04.webp') }}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('asset/images/Gallery_Spot/Spot_05.webp') }}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('asset/images/Gallery_Spot/Spot_06.jpg') }}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselSpot" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselSpot" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
    </div>

{% endif %}